<h1>Log In</h1>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <input type="text" name="name" id="name" />
  <input type="password" name="password" id="password" />
  <input type="submit" value="login">
<% end %>
